examples/mock_workflow_2.json
{
  "name": "Scheduled API to Google Sheets",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.schedule",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "parameters": {
        "rule": "interval",
        "interval": 60
      }
    },
    {
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "parameters": {
        "url": "https://api.example.com/data",
        "method": "GET",
        "headers": {
          "Content-Type": "application/json"
        }
      }
    },
    {
      "id": "3",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "operation": "append",
        "sheetId": "your_sheet_id",
        "range": "A:C",
        "values": [
          [
            "{{ $json.timestamp }}",
            "{{ $json.value }}",
            "{{ $json.status }}"
          ]
        ]
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {}
}