examples/mock_workflow_1.json
{
  "name": "Webhook to Slack Notification",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "notification",
        "authentication": "none"
      }
    },
    {
      "id": "2",
      "name": "Set Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "processed_at",
              "value": "{{ $now }}"
            },
            {
              "name": "status",
              "value": "received"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "operation": "postMessage",
        "channel": "#notifications",
        "text": "Получен webhook: {{ $json.data }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {}
}